.featured {
  width: $swidth;
  overflow: hidden;
  background-color: $lightbg;
  width: $swidth;

  &__container {
    @include container;
    @include section-padding-y;

    position: relative;
    overflow: hidden;

    @include bp(sm) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 40% 0;

    & > *:not(svg) {
      z-index: 10;
      position: relative;
    }

    @include bp(sm) {
      .btn--link {
        display: none;
      }
    }
  }

  &__right {
    flex: 50% 0;
    min-height: 279px;

    & img {
      @include project-thumb;
    }
  }

  &__heading {
    margin-bottom: 12px;
  }

  &__content {
    color: $gray;
    margin-bottom: 12px;

    @include bp(sm) {
      margin: 20px 0 40px;
    }
  }

  &__bg-figures {
    position: absolute;
    top: 48px;
    left: 21px;
    height: auto;
    width: 344px;

    @include bp(sm) {
      top: 96px;
      left: 21px;
      width: 183px;
    }
  }
}
