.intro {
  width: 100vw;
  background: linear-gradient(90deg, $primary 0%, $primary 50%, $lightbg 50%);
  overflow: hidden;
  border-bottom-left-radius: 54px;

  &__container {
    @include container;
    overflow: hidden;
  }

  &__left {
    background-color: $primary;
    flex: 66.66666%;
    width: 100%;
    max-width: 800px;
    border-bottom-right-radius: 54px;
    z-index: 10;
  }

  &__right {
    background: $lightbg;
    flex: 33.33333%;
    width: 100%;
    background-color: $lightbg;

    height: 100%;
    width: 100%;
    max-width: 400px;
  }

  &__content {
    padding: 90px 0;
    position: relative;
    width: 100%;
    border-bottom-right-radius: 52px;

    & > h1 {
      font-size: 269%;
      font-weight: 700;
      color: $light;
    }

    & > p {
      color: $tertiary;
      padding: 30px 0 37px;
    }
  }

  &__scroll-interaction {
  }

  &__hero {
    position: absolute;
    width: 403px;
    top: -5px;
    right: -201px;
  }

  &__bg-circle {
    position: absolute;
    top: 0;
    right: 0;

    @include bp(sm) {
      display: none;
    }
  }
}
