.my-works {
  &__container {
    @include container;
    @include section-padding-y;

    &__inner {
      flex: 1;
    }
  }

  &__list {
    & > *:not(:last-child) {
      margin-bottom: 90px;
    }
  }

  &__item {
    &__heading {
      margin-bottom: 30px;
    }

    &__content {
      color: $darkgray;
      display: flex;
      align-items: center;

      @include bp(sm) {
        flex-wrap: wrap;
      }

      img {
        flex: 0.5;
        max-width: 50%;
        margin-right: 50px;

        @include project-thumb;

        @include bp(sm) {
          margin-right: initial;
          max-width: 100%;
          flex: 1;
          margin-bottom: 32px;
        }
      }

      .btn--link {
        display: block;
        text-align: right;
      }
    }

    &__detail {
      p {
        margin-bottom: 15px;
      }
    }
  }
}
