// colors
$primary: #682faa;
$secondary: #6e00ff;
$tertiary: #8bffef;
$light: #f8f8f8;
$lightbg: #f6f6f6;
$darkgray: #494949;
$gray: #7d7382;

// magnitudes
$container-padding-lg: 90px;
$container-padding-md: 70px;
$container-padding-sm: 40px;
$container-padding-xs: 20px;
$container-padding-xss: 13px;

$swidth: 100%;
